{% extends 'base.html' %}

{% block title %} {{ block.super }} - Login {% endblock %}

{% block content %}

{% for message in messages %}
<div class="alert alert-success">
    <a class="close" href="#" data-dismiss="alert">×</a>
    {{ message }}
</div>
{% endfor %}

<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
    <form class="login100-form validate-form" method="post">
        {% csrf_token %}
        <span class="login100-form-title p-b-37">
            Iniciar Sesión
        </span>

        <div class="wrap-input100 validate-input m-b-20" data-validate="Introduzca un username">
            <input class="input100" type="text" name="username" placeholder="username">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-25" data-validate = "Introduzca una contraseña">
            <input class="input100" type="password" name="password" placeholder="contraseña">
            <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Iniciar sesión
            </button>
        </div>

        <div class="text-center">
            <a href="#" class="txt2 hov1">
                Registrarse
            </a>
        </div>
    </form>

    </div>

{% endblock %}
