{% extends './base_log.html' %}

{% block title %} {{ block.super }} - Inicio de sesión {% endblock %}

{% block formtitle %} Iniciar Sesión {% endblock %}

{% block password %}
<div class="wrap-input100 validate-input m-b-25" data-validate = "Introduzca una contraseña">
    <input class="input100" type="password" id="password" name="password" placeholder="contraseña">
    <span class="focus-input100"></span>
</div>
{% endblock %}

{% block submit %} Iniciar sesión {% endblock %}

{% block other %} 
<a href="{% url 'signup' %}" class="txt2 hov1">
    Registrarse                
</a>
{% endblock %}
                