{% extends './base_log.html' %}
{% load static %}

{% block title %} {{ block.super }} - Registro {% endblock %}

{% block formtitle %} Registro de Usuario {% endblock %}

{% block password %}
<div class="wrap-input100 validate-input m-b-25" data-validate = "Introduzca una contraseña">
    <input class="input100" type="password" id="password" name="password1" placeholder="contraseña">
    <span class="focus-input100"></span>
</div>

<div class="wrap-input100 validate-input m-b-25" data-validate = "Repita su contraseña">
    <input class="input100" type="password" id="password" name="password2" placeholder="repetir contraseña">
    <span class="focus-input100"></span>
</div>
{% endblock %}

{% block submit %} Registrarse {% endblock %}

{% block other %}
<a href="{% url 'login' %}" class="txt2 hov1">
    Iniciar Sesión              
</a>
{% endblock %}
