{% extends 'form.html' %}

{% block title %} {{ block.super }} - Nueva Tarea {% endblock %}

{% block formtitle %}Tarea Nueva{% endblock %} 

{% block inputtitle %}
<input class="input100" type="text" id="title" name="title" placeholder="título">
{% endblock %}

{% block inputdescription %}
<input class="input100" type="textarea" id="description" name="description" placeholder="descripción">
{% endblock %}

{% block inputstatus %}
<option value="0">Pendiente</option>
<option value="1">Completada</option>
{% endblock %}
