{% extends 'form.html' %}

{% block title %} {{ block.super }} - Editar Tarea {% endblock %}

{% block formtitle %}Editar Tarea{% endblock %} 

{% block inputtitle %}
<input class="input100" type="text" id="title" name="title" placeholder="título" value={{todo.title}}>
{% endblock %}

{% block inputdescription %}
<input class="input100" type="textarea" id="description" name="description" placeholder="descripción" value={{todo.description}}>
{% endblock %}

{% block inputstatus %}
{% if todo.status %}
    <option value="1">Completada</option>
    <option value="0">Pendiente</option>
{% else %}
    <option value="0">Pendiente</option>
    <option value="1">Completada</option>
{% endif %}
{% endblock %}